.idea
.gradle
build

.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.idea/jarRepositories.xml
.idea/workspace.xml
